html,body{
    padding:0;
    margin:0;
    min-height: 100vh;
    min-width: 100vw;
}

header{
    position: sticky; /*Va hasta donde va su padre, su padre en este caso es body*/
    top:0px;
    width: 100vw;
}

nav{
    display:flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(17,13,1,.8);
    color: white;
    justify-content: space-between;
    align-items: center;
}

#logotipo{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

nav ul{
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambio a disposición vertical */
    align-items: flex-end; /* Alineación vertical a la derecha */
    max-height: 100vh; /* Altura máxima de la pantalla */
    overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Cambio a disposición horizontal */
        max-height: none; /* Elimina la altura máxima */
        overflow-y: visible; /* Desactiva la barra de desplazamiento vertical */
    }
}

nav img{
    width: 12vw;
    height: auto;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
}

#insignia p{
    text-transform: uppercase;
    font-size: normal;
}

#insignia, 
#lista{
    width: fit-content;
    margin-left: 2%;
}

#lista{
    align-self: center;
    margin-left: auto;
    margin-right: 3%;
}

#nombre{
    font-family: "Rubik Marker Hatch";
    text-align: center;
    font-size: 200%;
    background-color: rgb(152, 231, 204);
    padding: 1% 5%;
    color: #076313;
}

#descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center;
    padding:3% 5% 1%;
    font-family: "Montserrat Alternates";
    color: #5d6469;
    line-height: 2; /*Alto de la línea*/
    font-weight: 700; /*700 corresponde a bold*/
    justify-content: center;
}    

#descripcion p{
    max-width: 80%; /* Ajusta el ancho al 80% del contenedor */
    padding: 0; /* Elimina el padding adicional */
    margin: 0; /* Elimina el margen adicional */
}

.separacion{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center;
    padding:3% 5% 1%;
}

.imagen{
    justify-content: center;
    align-content: center;
}

.imagen img{
    width: 80%;
    height:auto;
}

h1{
    text-align: center;
    color: #076313;
}

.separacion p,
.separacion li,
.separacion table{
    font-family: "Montserrat Alternates";
    color: #5d6469;
    line-height: 2; /*Alto de la línea*/
    font-weight: 600; /*700 corresponde a bold*/
}