html,body{
    padding:0;
    margin:0;
    min-height: 100vh;
    min-width: 100vw;
}

header{
    position: fixed; /*Va hasta donde va su padre, su padre en este caso es body*/
    top:0px;
    width: 100vw;
}

nav{
    display:flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgb(17,13,1,.8);
    color: white;
    justify-content: space-between;
    align-items: center;
}

#logotipo{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

nav ul{
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambio a disposición vertical */
    align-items: flex-end; /* Alineación vertical a la derecha */
    max-height: 100vh; /* Altura máxima de la pantalla */
    overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Cambio a disposición horizontal */
        max-height: none; /* Elimina la altura máxima */
        overflow-y: visible; /* Desactiva la barra de desplazamiento vertical */
    }
}

nav img{
    width: 15vw;
    height: auto;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

#insignia p, footer h2{
    text-transform: uppercase;

}

#insignia, 
#lista{
    width: fit-content;
    margin-left: 2%;
}

#lista{
    align-self: center;
    margin-left: auto;
    margin-right: 3%;
    font-size: 150%;
}

#imagenprincipal img{
    width: 100vw;
}

#eslogan{
    font-family: "Rubik Marker Hatch";
    text-align: center;
    font-size: 200%;
    background-color: rgb(152, 231, 204);
    padding: 1% 5%;
    color: #076313;
}

#descripcion,
#fotofilandia,
#pista,
#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center;
    padding:3% 5% 1%;
    font-family: "Montserrat Alternates";
    color: #5d6469;
    line-height: 2; /*Alto de la línea*/
    font-weight: 500; /*700 corresponde a bold*/
    justify-content: center;
}

#fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
}

#fotofilandia{
    margin-bottom: 50px;
}

#descripcion p,
#fotofilandia img,
#pista p
#fotos{
    max-width: 80%; /* Ajusta el ancho al 80% del contenedor */
}

#fotos img{
    max-width: 25%;
}

#pista p{
    padding: 50px;
    border-bottom: 1px solid black;
}

#fotofilandia img {
    height: auto;
}


p{
    word-wrap: break-word; /* palabras que sean demasiado largas se deben cortar, de manera que quepan en el ancho disponible de la caja. */
}

footer{
    width:100vw;
}

footer div{
    display: flex;
    justify-content: space-around;
    background-color: rgb(152, 231, 204);
}

.fragmento{
    display: grid;
    color: #5d6469;
}

.verde{
    color: #076313;
}


