html,body{
    padding:0;
    margin:0;
    min-height: 100vh;
}

nav{
    display:flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: black;
    color: white;
}

#logotipo{
    display: flex;
    flex-direction: row;
    width: 40%;
}

#lista{
    width: 60%;
}

nav ul{
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambio a disposición vertical */
    align-items: flex-end; /* Alineación vertical a la derecha */
    max-height: 100vh; /* Altura máxima de la pantalla */
    overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Cambio a disposición horizontal */
        max-height: none; /* Elimina la altura máxima */
        overflow-y: visible; /* Desactiva la barra de desplazamiento vertical */
    }
}

nav img{
    width: 35vh;
    height: auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

#imagenprincipal img{
    width: 100%;
}

footer div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: dotted green 5px;
}